
<div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Krystyle</div>
                                <div class="panel-body"><img src="assets/images/1.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                                <div class="panel-footer">ทรง Oversize เนื้อผ้า Cotton<br> เสื้อลายทางน่ารักๆ พร้อมยีนส์สั้น<br>
                                    Size : อก 44 ยาว 33 นิ้ว <br> Color : ขาว น้ำเงิน ครีม(เสื้อ)<br>
                                    <p>รหัสสินค้า : 4459-W 4459-W 590 บาท <a href="#" class="btn btn-primary" role="button">เลือกซื้อ</a> </a></p><br></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Angel_gshop</div>
                                <div class="panel-body"><img src="assets/images/2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                                <div class="panel-footer">
                                    เสื้อเชิ้ตแขนยาว กระโปรงเอี๊ยม<br>
                                    สเวตเตอร์แนวน่ารัก แบ๊วๆ<br>
                                        Size : อก 44 ยาว 33 นิ้ว <br>Color : ฟ้า ขาว ชมพู(เสื้อ)<br>
                                    <p>รหัสสินค้า : 1259-W 4489-W 690 บาท <a href="#" class="btn btn-primary" role="button">เลือกซื้อ</a> </a></p><br></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Sweet_clothes</div>
                                <div class="panel-body"><img src="assets/images/1111.png" class="img-responsive" style="width:100%" alt="Image"></div>
                                <div class="panel-footer">สื้อยืดแขนสั้นสีขาว กระโปรงเอี๊ยมสีไข่<br>
                                    แนวน่ารัก แบ๊วๆ <br>Size : อก 44 ยาว 33 นิ้ว <br>Color : แดง ชมพู ฟ้า(เอี๊ยม)<br>
                                    <p>รหัสสินค้า : 8459-W 9659-W 690 บาท <a href="#" class="btn btn-primary" role="button">เลือกซื้อ</a> </a></p><br></div>
                            </div>
                        </div>
                    </div>
                </div><br>

                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Hi_Fashion</div>
                                <div class="panel-body"><img src="assets/images/4.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                                <div class="panel-footer">เสื้อลายดอกเปิดไหล่กเ๋ๆ<br> กางเกงทั้งสั้นและยาว<br>
                                    Size : อก 44 ยาว 33 นิ้ว <br>Color : ฟ้า น้ำเงิน เขียว(เสื้อ)<br>

                                    <p>รหัสสินค้า : 4559-W 3345-W 490 บาท <a href="#" class="btn btn-primary" role="button">เลือกซื้อ</a> </a></p><br></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Friend_2shop</div>
                                <div class="panel-body"><img src="assets/images/5.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                                <div class="panel-footer">เสื้อยืดสีขาวเพ้นท์ลาย<br> กระโปรงยีนส์สั้น<br>
                                    Size : อก 44 ยาว 33 นิ้ว <br>Color : ขาว เหลือง แดง(เสื้อ)<br>
                                    <p>รหัสสินค้า : 1569-W 8855-W 590 บาท <a href="#" class="btn btn-primary" role="button">เลือกซื้อ</a> </a></p><br></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">Zevenday_shop</div>
                                <div class="panel-body"><img src="assets/images/6.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                                <div class="panel-footer">เสื้อคอโปร่งสีขาว<br> กระโปรงทรงเอสีดำ<br>
                                    Size : อก 44 ยาว 33 นิ้ว <br>Color : ขาว ชมพู ฟ้า(เสื้อ)<br>
                                    <p>รหัสสินค้า : 3659-W 6859-W 590 บาท <a href="#" class="btn btn-primary" role="button">เลือกซื้อ</a> </a></p><br></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Friend_Lovely</div>
                            <div class="panel-body"><img src="assets/images/p1.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">เสื้อแขนยาวสีเทา <br> เอี๊ยมยีนส์ยาวน่ารักๆ<br>Size : อก 44 ยาว 33 นิ้ว <br>Color : เทา น้ำเงิน ขาว(เสื้อ)<br>
                                <p>รหัสสินค้า : 6523-W 8479-W 690 บาท <a href="#" class="btn btn-primary" role="button">เลือกซื้อ</a> </a></p><br></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Day_W2</div>
                            <div class="panel-body"><img src="assets/images/p2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">เสื้อยืดสีดำscottent<br> กระโปรงจั๊มลายสก๊อต<br>Size : อก 44 ยาว 33 นิ้ว <br>Color : ดำ ขาว แดง(เสื้อ)<br>
                                <p>รหัสสินค้า : 9989-W 6639-W 690 บาท <a href="#" class="btn btn-primary" role="button">เลือกซื้อ</a> </a></p><br></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Money_Me</div>
                            <div class="panel-body"><img src="assets/images/p3.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">More spirit lest crazyDress Maria_Sky<br>เสื้อยืดสีเหลือง กระโปรงลายหมากรุก ขาว-ดำ<br>
                                Size : อก 44 ยาว 33 นิ้ว <br>Color : เหลือง เขียว แดง(เสื้อ)<br>
                                <p>รหัสสินค้า : 9654-W 7859-W 690 บาท <a href="#" class="btn btn-primary" role="button">เลือกซื้อ</a> </a></p><br></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Reya.clothshop</div>
                            <div class="panel-body"><img src="assets/images/dr1.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">Dress Maria_Sky<br> ลายดอกลาเวนเดอร์ทรงเอสีชมพูอ่อน<br>Size : อก 44 ยาว 33 นิ้ว <br>
                                Color : ครีม ม่วง ชมพู ฟ้า<br>
                                <p>รหัสสินค้า : 8569-W 7893-W 800 บาท <a href="#" class="btn btn-primary" role="button">เลือกซื้อ</a> </a></p><br></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Vela_fin</div>
                            <div class="panel-body"><img src="assets/images/dr2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">Dress Minnie More<br> ลายซากุระสีครีม<br>Size : อก 44 ยาว 33 นิ้ว <br>
                                Color : ชมพู ครีม ฟ้า ขาว<br>
                                <p>รหัสสินค้า : 1253-W 3659-W 800 บาท <a href="#" class="btn btn-primary" role="button">เลือกซื้อ</a> </a></p><br></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Stylist_shop</div>
                            <div class="panel-body"><img src="assets/images/aa2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">Dress Stylist_shop<br> เสื้อลายดอกแขนยาวผูกโบว์ กระโปรงทรงเอสีครีม<br>Size : อก 44 ยาว 33 นิ้ว <br>
                                Color : ครีม ขาว ชมพู(เสื้อ),ครีม ชมพู ขาว(กระโปรง)<br>
                                <p>รหัสสินค้า : 4458-W 9658-W 690 บาท <a href="#" class="btn btn-primary" role="button">เลือกซื้อ</a> </a></p><br></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Everydayshop</div>
                            <div class="panel-body"><img src="assets/images/p9.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">Dress Everydayshop<br> เดรสซีทรูสีดำเซกซี่<br>Size : อก 44 ยาว 33 นิ้ว <br>Color : ดำ แดง น้ำเงิน<br>
                                <p>รหัสสินค้า : 7458-W 8547-W 690 บาท <a href="#" class="btn btn-primary" role="button">เลือกซื้อ</a> </a></p><br></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Moqcha.closet</div>
                            <div class="panel-body"><img src="assets/images/aa3.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">Dress Sweetie <br> เอี๊ยมผูกโบว์สีดำ เสื้อซีทรูสีขาวน่ารักๆ<br>Size : อก 44 ยาว 33 นิ้ว <br>Color : ดำ ขาว น้ำตาล(เอี๊ยม)<br>
                                <p>รหัสสินค้า : 9963W 1254-W 690 บาท <a href="#" class="btn btn-primary" role="button">เลือกซื้อ</a> </a></p><br></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Shoppshoppiam</div>
                            <div class="panel-body"><img src="assets/images/p12.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                            <div class="panel-footer">เสื้อแขนยาวสไตล์เกาหลีผูกโบว์ <br> กระโปรงเทนนิสสีเทาเข้ม<br>Size : อก 44 ยาว 33 นิ้ว <br>Color : ขาว ดำ(เสื้อ),เทา ดำ ขาว(กระโปรง)<br>
                                <p>รหัสสินค้า : 3365-W 8852-W 690 บาท <a href="#" class="btn btn-primary" role="button">เลือกซื้อ</a> </a></p><br></div>
                        </div>
                    </div>
                </div> <br><br>

