@(minirex:Rabbit,netherland_dwarf:Rabbit,holland_lop:Rabbit,satin_angora:Rabbit,dutch:Rabbit,new_zealand:Rabbit)

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">@minirex.getName</div>
                <div class="panel-body"><img src="assets/images/rt1.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">@minirex.getId<br>จำนวนคงเหลือ@minirex.getAmount<br>
                    <p>@minirex.getPrice บาท <a href="#" class="btn btn-primary" role="button">เลือกซื้อ</a> </a></p><br></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">@netherland_dwarf.getName</div>
                <div class="panel-body"><img src="assets/images/rt2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">
                    @netherland_dwarf.getId<br>
                    จำนวนคงเหลือ@netherland_dwarf.getAmount<br>

                    <p>@netherland_dwarf.getPrice บาท<a href="#" class="btn btn-primary" role="button">เลือกซื้อ</a> </a></p><br></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">@holland_lop.getName</div>
                <div class="panel-body"><img src="assets/images/rt3.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">@holland_lop.getId<br>
                    จำนวนคงเหลือ@holland_lop.getAmount<br>
                    <p>@satin_angora.getPrice บาท <a href="#" class="btn btn-primary" role="button">เลือกซื้อ</a> </a></p><br></div>
            </div>
        </div>
    </div>
</div><br>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">@satin_angora.getName</div>
                <div class="panel-body"><img src="assets/images/rt4.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">@satin_angora.getId<br>
                    จำนวนคงเหลือ@satin_angora.getAmount<br>

                    <p>@satin_angora.getPrice บาท <a href="#" class="btn btn-primary" role="button">เลือกซื้อ</a> </a></p><br></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">@dutch.getName</div>
                <div class="panel-body"><img src="assets/images/rt7.jpg" class="img-responsive" style="width:110%" alt="Image"></div>
                <div class="panel-footer">@dutch.getId<br>
                    จำนวนคงเหลือ@dutch.getAmount<br>
                    <p>@dutch.getPrice บาท <a href="#" class="btn btn-primary" role="button">เลือกซื้อ</a> </a></p><br></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">@netherland_dwarf.getName</div>
                <div class="panel-body"><img src="assets/images/rt6.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">@netherland_dwarf.getId<br>
                   จำนวนคงเหลือ@netherland_dwarf.getAmount<br>
                    <p>@netherland_dwarf.getPrice บาท <a href="#" class="btn btn-primary" role="button">เลือกซื้อ</a> </a></p><br></div>
            </div>
        </div>
    </div>
</div><br><br>






